<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kycq.library.picture">
	
	<!-- 写入外部存储 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<!-- 读取外部存储 -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<!-- 相机权限 -->
	<uses-permission android:name="Manifest.permission.CAMERA"/>
	
	<application>
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.PictureProvider"
			android:exported="false"
			android:grantUriPermissions="true"
			android:readPermission="android.permission.READ_EXTERNAL_STORAGE"
			android:writePermission="android.permission.WRITE_EXTERNAL_STORAGE">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/kp_picture_paths"/>
		</provider>
		
		<activity android:name=".picker.KPPicturePickerActivity"/>
		<activity android:name=".picker.KPPicturePreviewActivity"/>
		<activity android:name=".viewer.KPPictureViewerActivity"/>
	</application>

</manifest>